.square{
  display: inline-block;
  width: 2em;
  height: 2em;
  background-color: white;
}

.gridLine{
  display: block;
  height: 2em;
  text-align: center;
}

#container{
  padding-top: 5em;
  padding-bottom: 10em;
  background-color: teal;
}
