.square{
  display: inline-block;
  /*
  width: 2em;
  height: 2em;
  */
  background-color: white;
}

.gridLine{
  display: block;
  /*height: 2em;*/
}

#container{
  margin: 2em;
}

#btn{
  margin-top: 2em;
  padding:0.7em;
}

body{
  background-color: #a9ced4;
  text-align: center;
}
